version: "3.9"

networks:
  web:
    external: false

volumes:
  mariadb_data:
  grafana_data:
  caddy_data:
  caddy_config:

services:
  mariadb:
    image: mariadb:10.11
    container_name: mariadb
    restart: always
    env_file: ".env"

    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - web

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    networks:
      - web

  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: always
    volumes:
      - grafana_data:/var/lib/grafana
    env_file: ".env"

    networks:
      - web

  nginx:
    image: nginx:alpine
    container_name: nginx-doc
    restart: always
    volumes:
      - ./html:/usr/share/nginx/html:ro
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - web

  caddy:
    image: caddy:2-alpine
    container_name: caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config

    networks:
      - web
  app:
    build: ./app
    restart: always
    env_file: ".env"
    environment:
      - DB_HOST=mariadb

    networks:
      - web